
body {
    margin: 0;
}
.h1 {
    padding-left: 40px;
}

.laundryRoom {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    margin: 20px auto;
    background-color: #f0f0f0;
}

.machine {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: move;
    border-radius: 5px;
    user-select: none;
}
